@font-face {
    font-family: Roboto;
    src: url(../resources/fonts/Roboto-Regular.ttf);
  }

body {
    font-family: Roboto, Arial, monospace;
    background-color: whitesmoke;
    padding: 1.5em;
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg)
}

.featurebox {
  background-color: cyan;
  width: 30%;
  padding: 1em;
  margin: 1em 0;
}
.featurebox:hover {
  background-color: teal;
}

.version-log {
  padding: 0.25em;
  border: 0.5px solid black;
  border-radius: 2.5px;
  margin: 0.55em 0;
}