@font-face {
    font-family: Roboto;
    src: url(../resources/fonts/Roboto-Regular.ttf);
  }

body {
    font-family: Roboto, Arial, monospace;
    background-color: whitesmoke;
    padding: 1.5em;
}
